<section>
<div class="agent-detail">
	<div class="col-md-offset-2 col-md-4">
		<img class="agent-image" ng-src="{{agent.avatar}}"/>
	</div>

	<div class="col-md-4">
		<h2>{{agent.name}}</h2>

		<p><i class="fa fa-envelope-o"></i> <a href="mailto:{{agent.email}}">{{agent.email}}</a></p>
		<p><i class="fa fa-phone"></i> <a href="tel:{{agent.phone_number}}">{{agent.phone_number}}</a></p>
		<button ng-click="scheduleShowing()" class="btn btn-info hidden">Schedule a Showing</button>
	</div>

	<div class="col-md-offset-2 col-md-8 agent-listings">
		<h3>Listings</h3>

		<div ng-repeat="listing in agent.listings">
			<a href="#/listings/{{listing.id}}"><img class="thumb left" ng-src="system/listings/avatars/000/000/{{listing.id | numberFixedLen:3 }}/thumb/{{listing.avatar_file_name}}" err-src="assets/no_image_available.gif"/></a>

			<address class="right">
				{{listing.address}}<br>{{listing. city}}, {{listing.state}} {{listing.zipcode}}
			</address>

			<div class="clear"></div>
			<strong>MLS #: {{listing.mls}}</strong><br><br>
			<button ng-click="scheduleShowing(listing)" class="btn btn-info">Schedule a Showing</button>

			<h2>{{listing.price | currency:"$":0 }}</h2><br>
			
			<div class="left">
				Bedrooms: <span ng-class="{empty:!listing.bedrooms}">{{listing.bedrooms}}</span><br>
				Bathrooms: <span ng-class="{empty:!listing.bathrooms}">{{listing.bathrooms}}</span><br>
				Garages: <span ng-class="{empty:!listing.garages}">{{listing.garages}}</span><br>
			</div>
			<div class="right">
				Acres: <span ng-class="{empty:!listing.acres}">{{listing.acres | number}}</span><br>
				Sqft: <span ng-class="{empty:!listing.sqft}">{{listing.sqft}}</span><br>
			</div>

			<hr>
		</div>
	</div>
</div>
</section>