<section class="footer">
  <div class="row">
    <div class="col-md-3">
      <h2>Company</h2>
      <ul>
        <li><a href="#/agents">Meet our Agents</a></li>
        <li><a href="#/about">About Us</a></li>
        <li><a href="#/contact">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-md-3 hidden">
      <h2>Resources</h2>
      <ul>
        <li>Find a Property</li>
        <li>Schedule a Showing</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h2>Get Social</h2>
      <div class="social">
        <span>
          <a href="http://www.facebook.com/RooksRealtyInc" target="_blank"><i class="fa fa-facebook-square fa-4x"></i></a>
        </span>
        <span>
          <a href="mailto:info@rooks-realty.herokuapp.com"><i class="fa fa-envelope-square fa-4x"></i></a>
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <h2>About Us</h2>
      <div class="panel panel-primary">
        <div class="panel-body">
          Rooks Realty, Inc.<br>
          1580 Sparkman Drive Northwest<br>
          Huntsville, AL 35816<br>
          Office Phone: <a href="tel:+12568377722">(256) 837-7722</a><br>
          Fax: (256) 837-7723
        </div>
      </div>
    </div>
  </div>

  <hr>

  <footer>
    <p>© Rooks Realty, Inc 2015</p>
    <p><a href="/admin">Member Login</a></p>
  </footer>
</section>
