<div class="container">
  <div class="row">

    <!-- <div class="col-md-3">
      <div class="listing panel panel-default">
        <img src="something.jpg" class="thumbnail"/>
        <p class="address">
          3608 Widow Creek Drive, Huntsville, AL 35806
        </p>
        <p class="price">
          $100,000
        </p>
        <div class="panel-footer">
          3 <i class="fa fa-bed"></i>
          2 <%= image_tag 'shower.png' %>
          2,000 SQFT
        </div>
      </div>
    </div> -->

  </div>
</div>
