<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>

<div>

  <p><strong>Name:</strong> <%= @details['name'] %></p>
  <p><strong>Email:</strong> <%= @details['email'] %></p>

  <div>
    <%= @details['additional'] %>
  </div>

</div>

</body>
