<div ng-controller="AdminController">

<script type="text/ng-template" id="edit-listing.html">
    <div class="modal-header">
        <button class="btn btn-danger pull-right" ng-click="removeListing(listing.id)"><i class="fa fa-trash"></i></button>
    	<h3 class="modal-title" ng-hide="listing">Add New Listing</h3>
        <h3 class="modal-title" ng-show="listing">Edit Listing</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
		  <div class="form-group">
		    <label for="mls" class="col-sm-2 control-label">MLS</label>
		    <div class="col-sm-5">
		      <input type="number" class="form-control" id="mls" ng-model="listing.mls" placeholder="MLS #" required>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="address" class="col-sm-2 control-label">Address</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="address" ng-model="listing.address" placeholder="e.g. 3579 Market St.">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="city" class="col-sm-2 control-label">City</label>
		    <div class="col-sm-3">
		      <input type="text" class="form-control" ng-model="listing.city" id="city">
		    </div>
		    <label for="state" class="col-sm-1 control-label">State</label>
		    <div class="col-sm-2">
		      	<select class="form-control" ng-model="listing.state">
		      	  <option></option>
				  <option>AL</option>
				  <option>GA</option>
				  <option>MS</option>
				  <option>TN</option>
				</select>
		    </div>
		    <label for="zipcode" class="col-sm-2 control-label">Zip Code</label>
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="zipcode" ng-model="listing.zipcode" required>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="price" class="col-sm-2 control-label">Price</label>
		    <div class="col-sm-3 input-group" style="padding-left: 14px;">
		      <span class="input-group-addon">$</span>
			  <input type="number" class="form-control" id="price" ng-model="listing.price" aria-label="Amount (to the nearest dollar)" required>
			  <span class="input-group-addon">.00</span>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="bedrooms" class="col-sm-2 control-label"># of Bedrooms</label>
		    <div class="col-sm-2">
		      <input type="number" class="form-control" id="bedrooms" ng-model="listing.bedrooms">
		    </div>
		    <label for="bathrooms" class="col-sm-2 control-label"># of Bathrooms</label>
		    <div class="col-sm-2">
		      <input type="number" class="form-control" id="bathrooms" ng-model="listing.bathrooms">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="garages" class="col-sm-2 control-label"># of Garages</label>
		    <div class="col-sm-2">
		      <input type="number" class="form-control" id="garages" ng-model="listing.garages">
		    </div>
		    <label for="sqft" class="col-sm-2 control-label">Sq Ft</label>
		    <div class="col-sm-2">
		      <input type="number" class="form-control" id="sqft" ng-model="listing.sqft">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="realtor" class="col-sm-2 control-label">Realtor</label>
		    <div class="col-sm-5">
		      	<select class="form-control" id="realtor" ng-model="listing.realtor.name" required>
		      	  <option></option>
				  <option ng-repeat="realtor in realtors" value="{{realtor.id}}">{{realtor.name}}</option>
				</select>
		    </div>
		  </div>
		  <div class="form-group">
		  	<label for="image" class="col-sm-2 control-label">Picture</label>
		  	<div class="col-sm-5">
		  		<img ng-hide="temp_file" class="thumb" ng-src="{{listing.avatar}}"/>
		  		<input type="file" ng-file-select="setFile($files)" multiple>
		  	</div>
		  </div>
		</form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-hide="listing.id" ng-click="create()">Create</button>
        <button class="btn btn-primary" ng-show="listing.id" ng-click="update()">Update</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div class="loading" ng-show="loading">
	<img src="assets/loading.gif"/>
	<p>Loading...</p>
</div>

<div ng-hide="loading">

	<button class="btn btn-primary" type="submit" ng-click="openModal({})"><i class="fa fa-plus"></i> Add a Listing</button>
	<input type="text" ng-model="search" class="search-query form-control input-lg" placeholder="Search by MLS, Address, Realtor, etc.">

	<table class="table table-hover">

		<thead>
			<tr>
				<th></th>
				<th ng-click="columnFilter('mls')">MLS <i ng-class="updateSortArrow('mls')"></th>
				<th ng-click="columnFilter('address')">Address <i ng-class="updateSortArrow('address')"></th>
				<th ng-click="columnFilter('price')">Price <i ng-class="updateSortArrow('price')"></th>
				<th ng-click="columnFilter('acres')">Acres <i ng-class="updateSortArrow('acres')"></th>
				<th ng-click="columnFilter('bedrooms')">Beds </i> <i ng-class="updateSortArrow('bedrooms')"></th>
				<th ng-click="columnFilter('bathrooms')">Baths <i ng-class="updateSortArrow('bathrooms')"></th>
				<th ng-click="columnFilter('garages')">Garage <i ng-class="updateSortArrow('garages')"></th>
				<th ng-click="columnFilter('sqft')">SQFT <i ng-class="updateSortArrow('sqft')"></th>
				<th ng-click="columnFilter('realtor')">Realtor <i ng-class="updateSortArrow('realtor')"></th>
				<th ng-click="columnFilter('created_at')">Created At <i ng-class="updateSortArrow('created_at')"></th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="listing in filtered = (filteredListings | filter:search | orderBy:orderByField:reverseSort)">
				<td>
					<img class="thumb" ng-src="{{listing.avatar}}"/>
				</td>
				<td>{{listing.mls}}</td>
				<td>{{listing.address}}<br>{{listing. city}}, {{listing.state}} {{listing.zipcode}}</td>
				<td>{{listing.price | currency:"$":0 }}</td>
				<td>{{listing.acres | number}}</td>
				<td>{{listing.bedrooms}}</td>
				<td>{{listing.bathrooms}}</td>
				<td>{{listing.garages}}</td>
				<td>{{listing.sqft}}</td>
				<td>{{listing.realtor.name}}</td>
				<td>{{listing.created_at | date:'MMM dd, yyyy'}}</td>
				<td>
					<button class="btn btn-info btn-xs" ng-click="openModal(listing)"><i class="fa fa-edit"></i></button>
					<button class="btn btn-danger btn-xs" ng-click="removeListing(listing.id)"><i class="fa fa-trash"></i></button>
				</td>
			</tr>
		</tbody>

	</table>

	<div class="text-center">
    	<pagination total-items="listings.length" ng-model="currentPage"></pagination>
    </div>

</div>

</div>