
  <section>
  <h2>Listings</h2>

  <div class="listings cd-scrolling-bg cd-color-2" ng-controller='HomeController'>
    <div class="row cd-container">
      <div class="col-md-3 listing" ng-repeat="listing in listings">
        <div ng-show="recent(listing)" class="ribbon ribbon-left">
          <p>New</p>
        </div>
        <div class="panel panel-default">
          
          <a href="#" ng-click="showListing(listing.id)">
            <img ng-src="{{listing.avatar}}"/>
          </a>

          <section>
            <p class="price">
              {{listing.price | currency:"$":0 }}
            </p>
            <p class="address">
              {{listing.address}}<br>
              {{listing.city}}, {{listing.state}} {{listing.zipcode}}
            </p>
            <p class="realtor">
              Agent: <a href="#/agents/{{listing.realtor.id}}">{{listing.realtor.name}}</a>
            </p>
          </section>
          <div class="panel-footer">
            {{listing.bedrooms}} <i class="fa fa-bed"></i>
            | {{listing.bathrooms}} <img src='assets/shower.png' />
            | {{listing.sqft | number}} Sq Ft
            <span ng-show="listing.acres">| {{listing.acres | number}} Acres</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  </section>
