
  <section>
  <h2>Listings</h2>

  <div class="text-center" ng-show="loading">
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
    <div class="text-center">Loading</div>
  </div>

  <div ng-hide="loading" class="listings cd-scrolling-bg cd-color-2" ng-controller='HomeController'>
    <div class="row-fluid cd-container">
      <div class="col-md-4 listing" ng-repeat="listing in listings">
        <div ng-show="recent(listing)" class="ribbon ribbon-left">
          <p>New</p>
        </div>
        <div class="panel panel-default">
          
          <a href="#/listings/{{listing.id}}">
            <img ng-src="{{listing.avatar}}"/>
          </a>

          <section>
            <p class="price">
              {{listing.price | currency:"$":0 }}
            </p>
            <p class="address">
              {{listing.address}}<br>
              {{listing.city}}, {{listing.state}} {{listing.zipcode}}
            </p>
            <p class="realtor">
              Agent: <a href="#/agents/{{listing.realtor.id}}">{{listing.realtor.name}}</a>
            </p>
          </section>

          <div class="panel-footer">
            <span ng-class='{empty:!listing.bedrooms}'>{{listing.bedrooms}} <i class="fa fa-bed"></i> | </span>
            <span ng-class='{empty:!listing.bathrooms}'>{{listing.bathrooms}} <img src='assets/shower.png' /></span>
            <span ng-class='{empty:lisitng.sqft}' ng-show="listing.sqft"> | {{listing.sqft | number}} Sq Ft</span>
            <span ng-class="{empty:listing.acres == 0}" ng-show="listing.acres"> | {{listing.acres | number}} Acres</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  </section>
