.dashboard {
	margin-top: 100px;

	.content {
		margin: 30px;
		min-height: 250px;

		input {
			margin-bottom: 20px;
		}

		table {
			thead {
				tr {
					th {
						cursor: pointer;
					}
				}
			}
		}
	}

	.loading {
		margin: 30px auto;
		display: block;
		width: 10em;

		p {
			text-align: center;
		}
	}
}

img {
	&.thumb {
		width: 100px;
	}
}

form {
	input {
		&.form-control {
			font-family: Arial, Helvetica, sans-serif;
			color: #000;
		}
	}
}