.agents {
	.agent {
		img {
			width: auto;
			height: 300px;
			display: block;
			margin: auto;
		}

		.panel {
			header {
				background-position: center;
				background-size: auto 100%;
				background-repeat: no-repeat;
				height: 350px;
				background-color: #888;
			}

			.panel-footer {
				color: #ffffff;
				height: 65px;
				max-height: 65px;
				min-height: 65px;

				a {
					color: #ffffff;

					&::hover, &::active {
						color: #ffffff;
					}
				}
			}
		}
	}
}

.agent-detail {

	.agent-image {
    	width: 300px;
    	height: auto;
	}

	.agent-listings {
		h3 {
			border-bottom: 2px solid #000;
		}

		hr {
			clear: both;
			margin-top: 5px;
		}
	}
}

@media(max-width: 765px) {
	.agent-detail {
		.agent-image {
			width: 100px;
      		height: auto;
		}
	}
}