/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-theme.min.css";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
  font-family: SourceSansPro;
  src: local('../assets/SourceSansPro-Regular'),
  font-url('../assets/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: SourceSansPro;
  src: local('../assets/SourceSansPro-Italic'),
  font-url('../assets/SourceSansPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: SourceSansPro;
  src: local('../assets/SourceSansPro-Light'),
  font-url('../assets/SourceSansPro-Light.ttf') format('truetype');
  font-weight: light;
}

@font-face {
  font-family: SourceSansPro;
  src: local('../assets/SourceSansPro-LightItalic'),
  font-url('../assets/SourceSansPro-LightItalic.ttf') format('truetype');
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: SourceSansPro;
  src: local('../assets/SourceSansPro-Bold'),
  font-url('../assets/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: SourceSansPro;
  src: local('../assets/SourceSansPro-BoldItalic'),
  font-url('../assets/SourceSansPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


 body {
 	font-family: SourceSansPro;

  form {
    .form-group {
      input.form-control {
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
      }
    }
  }

  img {
    margin-bottom: 10px;

    &.full {
      width: 300px;
      height: auto;
    }

    &.thumb {
      width: 100px;
      height: auto;
    }
  }

  .left {
    float: left;
    width: 45%;
  }

  .right {
    float: right;
    width: 45%;
  }

  .clear {
    clear: both;
  }

  .empty {
    &::before {
      content: '--';
    }
  }

  footer {
    a {
      color: #ffffff;

      &::hover, &::active {
        color: #ffffff;
      }
    }
  }

  .loading {
    margin-top: 150px;
  }

  .panel {
    .panel-heading {
      color: #ffffff;
    }

    .panel-footer {
      color: #ffffff;
      font-size: 14px;
    }
  }

   .bootstrap-select {
     width: 100% !important;
   }
}

html, body, #map-canvas { height: 300px; margin: 0; padding: 0;}
html, body, #search-map { height: 400px; margin: 0; padding: 0;}
