/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap.min.css";
 /* @import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";*/
 @import "components-font-awesome/css/font-awesome.css";

@font-face {
  font-family: "FontAwesome";
  src: font-url('fontawesome-webfont.eot');
  src: font-url('fontawesome-webfont.woff'),
  font-url('fontawesome-webfont.ttf'),
  font-url('fontawesome-webfont.svg');
  font-weight: normal;
  font-style: normal;
}

 @font-face {
  font-family: Raleway;
  src: local('../assets/Raleway-Regular'),
  font-url('../assets/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('../assets/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Raleway;
  src: local('../assets/Raleway-Light'),
  font-url('../assets/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
  font-url('../assets/Raleway-ExtraLight.ttf') format('truetype');
  font-weight: light;
}

@font-face {
  font-family: Raleway;
  src: local('../assets/Raleway-ExtraBold'),
  font-url('../assets/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
  font-url('../assets/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: bold;
}


 body {
 	font-family: Raleway;

  form {
    .form-group {
      input.form-control {
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
      }
    }
  }

  img {
    margin-bottom: 10px;

    &.full {
      width: 300px;
      height: auto;
    }

    &.thumb {
      width: 100px;
      height: auto;
    }
  }

  .left {
    float: left;
    width: 45%;
  }

  .right {
    float: right;
    width: 45%;
  }

  .clear {
    clear: both;
  }

  .empty {
    &::before {
      content: '--';
    }
  }

  footer {
    a {
      color: #ffffff;

      &::hover, &::active {
        color: #ffffff;
      }
    }
  }
}

html, body, #map-canvas { height: 300px; margin: 0; padding: 0;}
