body, html, .container {
	/* important */
	height: 100%;
}
 
.cd-fixed-bg {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	
	&.cd-bg-1 {
	  background-image: url("huntsville.jpg");
	  min-height: 250px;
	}

	form {
		margin-top: 100px;
        background-color: #aaaaaa;
        padding: 20px;
        border-radius: 10px;
	}
}
 
.cd-scrolling-bg {
	min-height: 100%;
}

.content {
	padding: 30px;
	margin: 0;
}

section {
	padding: 30px;

	&.footer {
		background-color: #5B6EA4;
		color: #ffffff;

		.social {
			i {
				color: #ffffff;
			}
		}

		ul {
			list-style-type: none;
			padding: 0px;
    		margin: 0px;

			a {
				color: #ffffff;
			}
		}

		.panel {
			color: #000000;
		}
	}
}

.devise {
	background-color: #aaa;
	padding: 30px;
	border-radius: 10px;
}