body, html, container {
	/* important */
	height: 100%;
}
 
.cd-fixed-bg {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	
	&.cd-bg-1 {
	  background-image: url("huntsville.jpg");
	  min-height: 350px;
	}

	form {
		margin-top: 100px;
		
		.right-inner-addon {
		    position: relative;
		    width: 50%;
		    margin: auto;
		 
		 	input {
		    	padding-right: 30px;    
		    	width: 100%;
			}
		 
		 	i {
		    	position: absolute;
			    right: 0px;
			    padding: 15px 12px;
			    pointer-events: none;
			}
		}
	}
}
 
.cd-scrolling-bg {
	min-height: 100%;
}

.content {
	padding: 30px;
	margin: 0;
}

section {
	padding: 30px;

	&.footer {
		background-color: #5B6EA4;
		color: #ffffff;

		.panel {
			color: #000000;
		}
	}
}

.devise {
	background-color: #aaa;
	padding: 30px;
	border-radius: 10px;
}