.listings {
    overflow-x: auto;
    white-space: nowrap;

	.listing {
	    display: inline-block;
	    float: none;

		.panel {
			a {
				img {
					width: 100%;
					height: 198px;
				}
			}

			section {
				padding: 10px;

				.price {
					font-weight: bold;
				}
			}

			.panel-heading {
				text-align: center;
				font-size: 12px;
			}
		}
	}
}