$font-size: 16px;
$line-height: 1.4;
$lines-to-show: 3;

.listing {
  &.grid {
    .panel {
      .panel-body {
        min-height: 200px;
        height: 200px;
        max-height: 200px;

        .address-wrapper {
          display: block;

          .address {
            font-weight: normal;
          }
        }
      }
    }
  }

  .panel {
    .panel-body {
      .price {
        font-weight: bold;
        font-size: 20px;
      }

      .address {
        font-weight: bold;
      }

      .mls {
        font-size: 14px;
      }

      .description {
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        padding-top: 20px;
        height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
        margin: 0 auto;
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .panel-footer {
      font-size: 12px;
    }
  }
}

.search-panel {

  .panel-heading {
    font-weight: bold;
    font-size: 16px;
  }
}

.result-panel {
  label {
    margin-right: 10px;
  }
}

.results {
  height: 400px;
  overflow-y: scroll;
}

.angular-google-map-container {
  height: 400px;
}

@media (max-width: 765px) {

  .results {
    height: 100%;

    .listing {
      width: 100%;
      
      .listing-image {
        img {
          width: 100%;
        }
      }
    }
  }

}